<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/header.ejs')%>
    <main>
        <div>
            <a href="/animals/new"><button>Add a New Animal</button></a>
            <!-- <a href="/user/logout"><button>Logout</button></a> -->
            <div class="animals">
            <% for (animal of animals) { %> 
                <div class="animal">
                    <a href="/animals/<%= animal._id %> "><h2><%= animal.species %></h2></a>
                    <p>Still alive on earth: <%= !animal.extinct %> </p>
                    <p>    Can be found in <%= animal.location %> places. </p>
                    <p>    Expected to live <%= animal.lifeExpectancy %> years. </p>
                </div>
            <% } %> 
            </div>
        </div>
    </main>
</body>
</html>